body {

  text-align: center;
  font-family: "Times New Roman",Times,Baskerville,Georgia,serif;
}

.top-cloud {
  padding-top: 100px;
  position: relative;
  left: 10%
}
H2{
 font-size: 2REM;
}





.bottom-cloud{
  position: absolute;

}

h1 {
  font-size: 550%;

  margin: 0 auto 0 auto;
  font-family: monospace ;
  color: #66BFBF;
}

h2
{
  font-size: 2.5em;
  color: #66BFBF;
  font-weight: normal;

}

.top-container {
  background-color: #E4F9F5;

}
.profile{
  background-color: #FFD06D;


}

.pro {
  text-decoration: underline;
}

.photssss{
  padding-top: 10px;
}
